<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
  <package id="totalcommander" packageParameters="/ShellExtension /DesktopIcon" />
  <package id="cmder" />
  <!-- Not in Path by default, and substituted by git's bin.
  <package id="msys2" packageParameters="/NoUpdate" />
  -->
  <package id="nodejs" />
  <package id="git" packageParameters="/GitAndUnixToolsOnPath"/>
  
  <!-- REPRODUCIBLE packages include a version -->
  <package id="miniconda3" version="4.5.12" />
  <package id="chromium-stable" version="64.0.3282.168" />
  <!-- 
  -->
  <package id="firefoxesr" version="60.6.2" /> 

  <package id="chromedriver" />
  <package id="selenium-chrome-driver" />
  <package id="selenium-gecko-driver" /> 
  <package id="selenium-edge-driver" /> 
  
  <!-- IDEs -->
  <package id="vscode" />
  <package id="pycharm-community" />
</packages>
