<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
  <package id="totalcommander" packageParameters="/ShellExtension /DesktopIcon" />
  <package id="clink" /><!-- better cmd.exe -->
  <package id="cmder" /><!-- some decent console untill Terminal lands. -->

  <package id="git" packageParameters="/GitAndUnixToolsOnPath"/>

  <package id="chromium" version="74.0.3729.131" />
  <package id="firefoxesr" version="60.6.2" /> 
</packages>
