<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
  <package id="totalcommander" packageParameters="/ShellExtension /DesktopIcon" />
  <package id="clink" /><!-- better cmd.exe -->
  <package id="cmder" /><!-- some decent console untill Terminal lands. -->
  <package id="nodejs" />

  <!-- 
    Not installed in Path by default, besides, 
    Git's /bin has many of them.
  <package id="msys2" packageParameters="/NoUpdate" />
  -->
  <package id="git" packageParameters="/GitAndUnixToolsOnPath"/>
  <!-- Newer `docker-desktop` works only with Hyper-V, see ../README.md -->  
  <package id="docker-toolbox" />

  <!-- REPRODUCIBLE packages include a version -->
  <package id="miniconda3" version="4.6.14" packageParameters="/AddToPath:1 /RegisterPython:0" />
  <package id="chromium" version="74.0.3729.131" />
  <!-- 
  -->
  <package id="firefoxesr" version="60.6.2" /> 

  <package id="chromedriver" />
  <package id="selenium-chrome-driver" />
  <package id="selenium-gecko-driver" /> 
  <package id="selenium-edge-driver" /> 
  
  <!-- IDEs -->
  <package id="vscode" />
  <package id="pycharm-community" />
</packages>
